# Ignore build artifacts from the local tests sub-crate.
packages/contracts/target/
packages/contracts/patient/target
packages/contracts/epr/target

# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Remove Cargo.lock when creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
packages/contracts/Cargo.lock
packages/contracts/patient/Cargo.lock
packages/contracts/epr/Cargo.lock

node_modules

